* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

header {
    overflow: auto;
    background-color: #8BAD97;
    font-size: 2rem;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* color: #fafafa; */
    background-color: #e9e4eb;
    padding-bottom: 7rem;
}

h1,
h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #04060C;
}

#main {
    float: left;
    margin: 2rem 0 0 3rem;
    color: #04060C;
    width: 50%;
}

#page {
    font-size: 2rem;
}

#page ul {
    float: right;
    color: #04060C;

}

#page li {
    float: left;
    margin: 3rem 5rem;
    list-style-type: none;

}

#page a {
    text-decoration: none;
    color: #04060C;
}

#page a:hover {
    border-bottom: 0.5rem dotted;
}

.current {
    border-bottom: 0.5rem dotted;
}

/* Hero Image section */

/* #image {
    background-color: #fafafa;
    height: 700px;
    width: 100%;
    overflow: hidden;

} */

#main-image {
    height: 62rem;
    width: 100%;
    overflow: hidden;
}

#main-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Contact and Opening Times section */

.contact-open {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.5rem;
}

.contact-open h3 {
    padding-bottom: 0.3rem;
}

.left {
    padding-left: 3rem;
    flex-shrink: 0;
}

.left p {
    line-height: 1.5;
}

.middle {
    /* text-align: center; */
    padding-left: 3rem;
    flex-shrink: 0;
}

.middle p {
    line-height: 1.5;
}

.right {
    padding-right: 3rem;
    flex-shrink: 0;
}

/* Table border style */

table,
th,
td {
    border: 0.1rem solid black;
    padding: 0.2rem;
    border-spacing: 0.1rem;
    margin: 0 auto;
}

/* Footer styling */

footer {
    background-color: #8BAD97;
    color: #04060C;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5rem;
    line-height: 5rem;
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
    overflow: auto;
}

footer>h3 {
    margin-left: 4rem;
    flex-grow: 1;
}

footer>a {
    text-decoration: none;
    flex-grow: 1;
}


/* Menu styling */

.menu-contain {
    display: flex;
    clear: both;
    padding: 3rem;
}

.menu-contain-image {
    width: 15rem;
    height: 10rem;
    object-fit: cover;
    margin-right: 0.1rem;
    flex-shrink: 0;
}

.menu-contain-text {
    color: #04060C;
    font-size: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 2rem;
    flex-grow: 1;

}

.menu-contain-heading {
    display: flex;
    justify-content: space-between;
}


.menu-list {
    margin-right: 5rem;
}

.menu-price {
    flex-shrink: 0;
}

/* Feedback page styling */

#intro {
    margin-left: 1.5rem;
    padding: 2rem;
    font-size: 1.5rem;
}

.form-wrap {
    width: 40rem;
    margin-left: 1.5rem;
    padding: 2rem;
    font-size: 1.5rem;
}

.form-wrap .input-data {
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
}

.form-wrap .click {
    text-decoration: none;
    background: #8BAD97;
    display: inline-block;
    padding: 1rem;
}

.click {
    margin-top: 1.5rem;
}

.click:hover {
    border-style: dotted;
}

/* Media query for 1100px and below */

@media screen and (max-width:1100px) {

    #page {
        float: left;
        margin-left: -1rem;
        clear: left;

    }
}

/* Media query for 770px and below */

@media screen and (max-width:770px) {

    .contact-open {
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;
    }

.right {
    padding-left: 3rem;
}

  #main {
width: 80%;
}
  
}

/* Media query for 488px and below */

@media screen and (max-width:488px) {

  #page li {
    float: left;
    width: 80%;
  }

}