* {
    padding: 0;
    border: 0;
    margin: 0;
}

header {
    overflow: auto;
    background-color: #8BAD97;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* color: #fafafa; */
    background-color: #e9e4eb;
    padding-bottom: 70px;
}

h1,
h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #04060C;
}

#main {
    float: left;
    margin: 20px 0 0 30px;
    color: #04060C;
}

#page {
    font-size: large;
}

#page ul {
    float: right;
    color: #04060C;

}

#page li {
    float: left;
    margin: 30px 50px;
    list-style-type: none;

}

#page a {
    text-decoration: none;
    color: #04060C;
}

#page a:hover {
    border-bottom: thick;
    border-style: dotted;
}

.current {
    border-bottom: thick;
    border-style: dotted;
}

/* Hero Image section */

/* #image {
    background-color: #fafafa;
    height: 700px;
    width: 100%;
    overflow: hidden;

} */

#main-image {
    height: 620px;
    width: 100%;
    overflow: hidden;
}

#main-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.contact-open {
    text-align: center;
    color: #04060C;
}

.contact-open #title {
    text-align: center;
    /* background-color: #e9e4eb; */

}

#title {
    /* padding: 5px; */
}


.contact-open .left {
    margin-top: -20px;
    float: left;
    justify-content: left;
}

.left {
    padding: 20px;
    line-height: 20px;
}

.contact-open .right {
    margin-top: -160px;
    float: right;
    justify-content: right;

}

.right {
    padding: 20px;
}

.contact-open .middle {
    margin-top: -40px;
    text-align: center;
}

.middle {
    padding: 20px;
    line-height: 30px;
}



/* Table border style */

table,
th,
td {
    border: 1px solid black;
    padding: 2px;
    border-spacing: 1px;
    margin: 0 auto;
}

footer {
    background-color: #8BAD97;
    text-align: center;
    color: #04060C;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer>h3 {
    margin: 10px;
}

footer>a {
    text-decoration: none;
    font-size: larger;
}

/* Menu styling */

.menu-contain {
    display: flex;
    clear: both;
    padding: 0.8em;
}

.menu-contain-image {
    width: 150px;
    height: 100px;
    object-fit: cover;
    margin-right: 1em;
    flex-shrink: 0;
}

.menu-contain-text {
    flex-grow: 1;
    color: #04060C;
}

.menu-contain-heading {
    display: flex;
    justify-content: space-between;
}